{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h1> Basketball </h1>
  <div class="row">
    {% for skill in skills %}
    <div class="col-md-4 top-buffer">
      <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="{{ skill.link }}" frameborder="0" allowfullscreen>
      </iframe>
      </div>
      <p>
	{{ skill.player_name }}- {{ skill.name }}<br />
	Tags: {{ skill.tags }}
      </p>
    </div>
   {% endfor %}
  </div>
</div>
{% endblock %}
